@import "scss/partials/mixins";
@import "scss/partials/variables";


.darken{
  @include transition(background-color 1s ease,
                      width 2s ease);
  background-color: $black-transparent;
}

.transparent{
  @include transition(background-color 1s ease,
                      width 2s ease);
  background-color: $transparent;
}

nav i{
  font-size: 20px;
  color    : #fff;
}

.menu-item:hover {
  i {
    color: #f90;
  }
  border-bottom: solid;
  border-color : $white;
}

.active {
  border-bottom: solid;
  border-color : $white;
  color        : #f3ff06;
}

.right {
  a {
    padding   : 0 1em 0 1em!important;
    max-height: 45px;
  }
}
