$red:  #ff0000;
$white:  #ffffff;
$gray:  #808080;
$pink: #ffcbdb;
$brown: #964b00;
$yellow:#ffff00;
$orange:#ff7f00;
$green: #00ff00;
$cyan:  #00ffff;
$blue:  #0000ff;
$violet:#7f00ff;
$black: #000000;
$duke-blue:  #001a57;
$blue-gray:  #6699cc;
$main-green: #00647d;
$alice-blue: #f0f8ff;
$ash-gray:#b2beb5;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;



$black-half-transparent: rgba(0, 0, 0, 0.5);
$black-transparent: rgba(0, 0, 0, 0.9);

$transparent: rgba(0, 0, 0, 0);

$default-color: $white !default;
